.language{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.language h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background: linear-gradient(45deg, blue,skyblue,yellowgreen);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 70px;
    padding-bottom: 20px;
}
.video{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    object-fit: cover;
}

.languagemain{
    border-radius: 10px;
    width: 900px;
    height:250px;
    background: none;
}

.languagegrid{
    display: flex;
    justify-content: space-between;
    padding: 0;
    color: white;
}

.contentimage img{
    width: auto;
}

.languagecontent{
    margin: 10px 10px;
    width: 150px;
    height: 170px;
    text-align: center;
    align-items: center;
}

.contentimage img{
    width: 60%;
    height: 60%;
    margin-top: 10%;
}

.contentimage{
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px 0;
    background: white;
    height: 100px;
    color: black;
    font-size: small;
}

.languagecontent button{
    font-size: large;
    border-radius: 9999px;
    background: white;
    color: black;
    margin: auto 5px;
    padding: 3px 5px;
}